<a href="{{anchor}}"
  class="swiper-slide h-full rounded-[1rem] overflow-hidden border-[0.0625rem] border-slate-300 bg-white"
>
  <div class="bg-brand-one py-3 px-2 text-center">
    <span class="text-h6 text-white uppercase font-unbounded"
      >{{brandTitle}}</span
    >
  </div>

  <div class="p-2 flex flex-col justify-between">
    <div class="aspect-[151/57] w-full">
      <img src="{{brandIcon}}" class="w-full h-auto object-cover" alt="" />
    </div>

    <div class="flex-1">
      <ul
        class="mt-auto text-[0.875rem] mdx:text-[1rem] leading-[1.6] text-center text-light-secondary flex flex-col gap-2 smx:mb-2 mdx:mb-6"
      >
        <li>{{row1}}</li>
        <li>{{row2}}</li>
        <li>{{row3}}</li>
        <li>{{row4}}</li>
        <li>{{row5}}</li>
        <li>{{row6}}</li>
        <li>{{row7}}</li>
      </ul>
    </div>
  </div>
</a>
